# Windows:

Thumbs.db
ehthumbs.db
.db
Desktop.ini
ss.ini
.ini
c.bat
*.bat
Thumbs.db
ehthumbs.db
*.db
Desktop.ini
*.ini
.subl18a.tmp
*.tmp
cgpt.iml
.iml
*.iml
.idea
*.idea
.name
*.xml
compiler.xml
.xml
profiles_settings.xml
encodings.xml
misc.xml
modules.xml
scope-settings.xml
vss.xml
workspace.xml
uiDesigner.xml

*.idea
*.xml

example/
node_modules